@use '../../../assets/sass/mixins' as mixin;
@use '../../../assets/sass/variables' as variable;


nav {
    @include mixin.flex-row;
    justify-content: space-between;
    height: variable.$large;
    padding: variable.$padding;
}

app-theme-toggle {
    @include mixin.flex-row;
}