@use '../../../assets/sass/mixins' as mixin;
@use '../../../assets/sass/variables' as variable;
@use '../../../assets/sass/functions' as function;

app-banner {
    @include mixin.flex-row;
    justify-content: center;
    // padding: variable.$padding;
    flex-wrap: wrap;
    gap: function.double(variable.$small);
}


// MEDIA QUERIES
@media screen and (min-width: 780px) {
    app-banner {
        gap: function.double(variable.$large);

    }
}
