@use './assets/sass/variables.scss' as variable;
@use './assets/sass/functions.scss' as function;
@use './assets/sass/theme' as theme;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dark-theme {
    @include theme.theme-dark;
}

body {
    width: 100%;
    min-height: 100dvh;
    // @include theme.theme-light; // initial implementation
    @include theme.apply-theme('light');
    
    &.dark-theme {
        // @include theme.theme-dark; // initial implementation
        @include theme.apply-theme('dark');
    }

    
    app-root {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
}

button {
    cursor: pointer;
}
