

@use '../../assets/sass/variables' as variable;
@use 'sass:map';

@mixin theme-light {
    background-color: variable.$light-theme-background;
    color: variable.$light-theme-font;
}

@mixin theme-dark {
    background-color: variable.$dark-theme-background;
    color: variable.$dark-theme-font;
}

$themes: (
    'light': theme-light,
    'dark': theme-dark,
);

@mixin apply-theme($theme) {
    @each $key, $value in map-get($map: $themes, $key: $theme) {
        #{$key}: $value;
    }
}

// @mixin apply-theme($theme) {
//     @each $key, $value in map-get($themes, $theme) {
//       #{$key}: $value;
//     }
//   }
  


@function theme ($mode) {
    @if ($mode == 'light') {
        @return theme-light;
    }@else {
        @return theme-dark;
    }
}