

@use '../../assets/sass/variables' as variable;
@use 'sass:map';


@mixin theme-light {
    background-color: variable.$light-theme-background;
    color: variable.$light-theme-font;
}

@mixin theme-dark {
    background-color: variable.$dark-theme-background;
    color: variable.$dark-theme-font;
}

// creates a map for the theme mode
$themes: (
    'light': theme-light,
    'dark': theme-dark,
);

// loops through the theme map
@mixin apply-theme($theme) {
    @each $key, $value in map-get($map: $themes, $key: $theme) {
        #{$key}: $value;
    }
}

